# Virtual Environments
pharmd_venv/
.pharmd_venv/
# Virtual Environments
venv/
env/
ENV/
.venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Binaries & caches
bin/
lib/
include/
Scripts/
